.selected {
    background-color: #CFD8DC !important;
    color: black;
  }
  .equipment-class {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
  }
  .equipment-class li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    width: 1360pt;
    height: 50pt;
    border-radius: 4px;
  }
  .equipment-class li.selected:hover {
    background-color: #BBD8DC !important;
    color: black;
  }
  .equipment-class li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .equipment-class .text {
    position: relative;
    top: -3px;
  }
  .equipment-class .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.5em 0.7em 0 0.7em;
    text-align: center;
    font-size: larger;
    background-color: brown;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 50pt;
    width: 200pt;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
    font-family: Arial, Helvetica, sans-serif;
  }

  img {
      position: static;
      margin-top: -150pt;
      margin-left: 250pt;
  }