/* AppComponent's private CSS styles */
h1 {
    font-size: 50pt;
    padding: 80pt 40pt;
    color: maroon;
    margin-top: 0;
    margin-bottom: 0;
    background-image: url("title.png");
    font-family: Arial, Helvetica, sans-serif;
  }
  h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
  }
  nav a {
    width: 550px;
    height: 90px;
    padding-top: 40px;
    padding-left: 350px;
    text-decoration: none;
    margin-top: 10px;
    margin-right: 20px;
    display: inline-block;
    background-color: cadetblue;
    border-radius: 10px;
    font-size: 30pt;
    font-family: Arial, Helvetica, sans-serif;
  }
  nav a:visited, a:link {
    color: maroon;
  }
  nav a:hover {
    color: blue;
    background-color: #cfd8dc;
  }
  nav a.active {
    color: #039be5;
  }